:root{
    --facteur-echelle: 1.125;
    --font-size: 18px;
    --petit-texte: var(--font-size);
    --tres-petit-texte: calc(var(--petit-texte) / var(--facteur-echelle));
    --texte-moyen: calc(var(--petit-texte) * var(--facteur-echelle));
    --gros-texte: calc(var(--texte-moyen) * var(--facteur-echelle));
    --tres-gros-texte: calc(var(--gros-texte) * var(--facteur-echelle));

    --vert-sombre:#386641;
    --vert-de-pousse:#69974e;
    --vert-lime:#a6c856;
    --beige:#f2e8cf;
    --rouge-sang:#bd4749;
}
body {
    background-color: var(--beige);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--vert-sombre);
}
hr{
    color: var(--vert-sombre)
}
a{
    color: var(--vert-sombre);
    text-decoration: none;
    margin-right:20px;
}
.caseAvenir {
    display: flex;
    font-size: 32px;
    align-items: center;
    color: var(--vert-sombre);
    justify-content: space-evenly;
    border: var(--vert-sombre) 2px solid;
    width: 60px;
    height: 60px;
    background-color: var(--vert-lime);
    
}   
.ContenantPersonnages {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}
.ContenuLeo{
    display: flex;
    gap: 10px;
    border: var(--vert-sombre) 2px solid;
}
.ContenuFrieden {
    display: flex;
    gap: 10px;
    border: var(--vert-sombre) 2px solid;
}
p {
    font-size: var(--petit-texte);
}
h2{
    font-size: var(--gros-texte);
}
h3{
    font-size: var(--texte-moyen);
}
h1{
    font-size: var(--tres-gros-texte);
}